<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<!-- Resolves views selected for rendering by @Controllers to .jsp resources in the /WEB-INF/views directory -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp" />
	</bean>

    <!-- File upload object -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

    
    <bean id="uploadDao" class="com.ck.fileupload.ver1.UploadDao" />
    
    <!-- Version 1 -->
    <bean name="/uploadActionVer1.spr" class="com.ck.fileupload.ver1.UploadController">
        <property name="commandClass" value="com.ck.fileupload.ver1.UploadCommand" />
        <property name="commandName" value="uploadCommand" /> 
        <property name="uploadDao" ref="uploadDao" />
        <property name="validator" ref="uploadValidator" />
        <property name="formView" value="../upload1" />
    </bean>
    
    
    <!-- Version 2 using spring 3.0 -->
    <bean class="com.ck.fileupload.ver2.controller.UploadController">
        <property name="uploadDao" ref="uploadDao" />
    </bean>
    
    <bean class="com.ck.fileupload.ver3.controller.UploadController">
    </bean>
    

    <!-- Validator -->
    <bean id="uploadValidator" class="com.ck.fileupload.ver1.UploadValidator" />
    
    <!-- 외부파일에 별도록 작성된 메세지를 객체로 생성-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>errMsg</value>
            </list>
        </property>
    </bean>
    
    <context:annotation-config />
    
</beans>
